# Python
.venv
__pycache__/
*.pyc

# IDE
.idea
.cursor
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node modules
**/node_modules/

# Nuxt build
**/.nuxt/
**/.output/
**/.data/
**/.nitro/
**/.cache/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Backup files
*.bak
.gitignore.bak

# Release
**/release/
**/dist/

# Electron build
sheets/src/electron/dist/

# Temp
.nh
